@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

}


html {
  background-color: rgba(240, 220, 200, 0.100);
  height: 100%;

}

header {
  margin: auto;
  height: 10vh;
  width: 97vw;
}

main {
  height: auto;
}

.inputHeader {

  margin-left: 4px;
  margin-right: 4px;
  margin: auto;
}

div.menu {
  height: auto;
}

div#filtro {
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  height: 55%;
  width: 55vw;
  background-color: white;
  position: absolute;
  z-index: 11;
}

div#cortina {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  height: 400%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.300);
  position: absolute;
  z-index: 10;
}


@media (prefers-color-scheme: dark) {
  :root {

    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}


@media all {


  #itemMenu:hover {
    transform: translate(-2%, -3%);
    background-color: rgb(51, 65, 85);
    color: aliceblue;
  }

  .cardLivro {
    padding-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.100);
    background-color: white;
    position: relative;
    z-index: 1;
    font-size: .8em;
  }

  .cardLivro:hover {
    z-index: 2;
    cursor: pointer;
    transform: translate(0, -6px);
  }



  .test {
    display: inline-block;
  }

  #caixas {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    padding-top: 5%;
  }

  input.form {
    width: 87%;
    height: 45px;
    margin: 6px 0px 6px 0px;
    border-radius: 14px;
    padding-left: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.300);
  }

  .livroForm {
    border: 1px solid rgba(0,0,0,0.200);
    margin-top: 5px;
    height: 40px;
   
    border-radius: 1px;
    margin-right: 5px;
    padding-left: 10px;
  }

}

/* fim de mídia principal */



@media screen and (min-width: 700px) and (max-width: 1600px) {

  .cardLivro {
    width: 193px;
  }

  .test {
    display: inline-block;
  }

}

/*Fim das telas grandes */

@media screen and (max-width: 700px) {

  .cardLivro {
    width: 160px;

  }



  div#capaLivro {
    width: 120px;
    height: 160px;
  }


  .test {
    margin: 0px 15.5px 45px 15.5px;
    height: 250px;
    width: 180px;
  }
}